html {
    font-size: 16px;
}

body {
    font-family: 'Roboto',
    sans-serif;
    font-size: 1rem; 
    /* background-color: #fafafa; */
}

* {
    box-sizing: border-box;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    color: #575757;
}

/* header */

.header {
    margin: 40px 0 20px 0;
}

.header__main-title,
.header__description {
    font-size: 1.6rem;
    text-align: center;
    color: #474747;  
    margin: 0;  
    padding: 20px;
}

.header__description {
    font-size: 1.1rem;    
    font-weight: normal;   
}

/* main */

.main {
    margin-top: 20px;
}

.form-primary,
.form-secondary {
    margin: 0 auto;
    width: 70%;
    margin-bottom: 20px;
    /* border: 1px solid #a7a7a7; */
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0px 1px 5px #a7a7a7;
}

.fieldset-primary-values,
.fieldset-primary-buttons,
.fieldset-secondary-values,
.fieldset-secondary-buttons {
    border: none;
    padding: 30px;
}

.fieldset-primary-buttons, 
.fieldset-secondary-buttons {
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
}

#calc-primary_x,
#calc-primary_y,
#calc-secondary_x,
#calc-secondary_y {
    width: 80px;
    padding: 5px;
    border: 1px solid #a7a7a7;
}

#result-primary, 
#result-secondary {
    border-top: 1px solid #a7a7a7;
    margin-top: 15px;
    padding-top: 5px;
}

.button, .reset {
    font-size: 1.2rem;
    border: 1px solid #a7a7a7;
    cursor: pointer;
    background-color: #00a870;
    color: #fff;
    margin-bottom: 5px;
}

.button {
    margin-right: 5px;
}

.button:hover, .reset:hover {
    background-color: #02e297;
}

.button:active, .reset:active {
    transform: scale(0.9);
}

.button {
    padding: 10px;
}

.reset {
    padding: 10px 5px;
}

