html {
    font-size: 16px;
}

body {
    font-family: 'Roboto',
    sans-serif;
    font-size: 1rem; 
}

* {
    box-sizing: border-box;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    color: #575757;
}

/* header */

.header {
    margin: 40px 0 20px 0;
}

.header__main-title,
.header__description {
    font-size: 1.6rem;
    text-align: center; 
    margin: 0;  
    padding: 10px;
    text-shadow: 0 1px 2px rgba(70, 70, 70, 0.3);
}

.header__description {
    font-size: 1.1rem;    
    font-weight: normal;   
}

/* main */

.main {
    margin-top: 20px;
}

.form-primary,
.form-secondary {
    margin: 0 auto;
    max-width: 770px;
    margin-bottom: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    background-color: #fcfcfc;
    box-shadow: 0px 1px 5px #a7a7a7;
}

.fieldset-primary-values,
.fieldset-primary-buttons,
.fieldset-secondary-values,
.fieldset-secondary-buttons {
    border: none;
    padding: 30px;
}

.fieldset-primary-buttons, 
.fieldset-secondary-buttons {
    display: flex;
    align-items: center;    
}

#calc-primary_x,
#calc-primary_y,
#calc-secondary_x,
#calc-secondary_y {
    width: 80px;
    padding: 5px;
    border: 1px solid #a7a7a7;
    margin-top: 5px;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;    
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; 
}

#result-primary, 
#result-secondary {
    border-top: 1px solid #a7a7a7;
    margin-top: 15px;
    padding-top: 5px;
}

.button, .reset {
    margin: 5px;
    width: 80px;
    height: 50px;
    cursor: pointer;
    background-color: #fff;
    color: #707070;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 4px rgba(117, 117, 117, 0.4),
    inset 0 2px 0 rgba(255, 255, 255, .7),
    0 2px 0 rgba(0, 0, 0, .1),
    inset 0 0 20px rgba(68, 68, 68, 0.1);
}

.button {
    margin-right: 5px;
}

.button:hover, .reset:hover {
    color: #a7a7a7;
}

.button:active, .reset:active {
    box-shadow: inset 0 0 20px rgba(73, 73, 73, 0.2),
    0 2px 0 rgba(255, 255, 255, .4),
    inset 0 2px 0 rgba(0, 0, 0, .1);
}

@media screen and (max-width:769px) {
    .wrapper {
        width: 98%;
    }

    .header {
        margin: 5px 0 20px 0;
    }

    .fieldset-primary-buttons, 
    .fieldset-secondary-buttons {
        text-align: end;
        display: block;
    }
    
    .button, .reset {
        display: block;
    }
}

@media screen and (max-width:399px) {
    .form-primary,
    .form-secondary {
        display: block;
    }

    .fieldset-primary-values, 
    .fieldset-secondary-values {
        padding-bottom: 15px;
    }

    .fieldset-primary-buttons, 
    .fieldset-secondary-buttons {
        padding-top: 0;
    }

    .button, .reset {
        display: inline-block;
        width: 45%;
    }
}